.recent-developments {
  width: 100%;
}

.recent-developments > div > div:nth-child(1),
.recent-developments > div > div:nth-child(3) {
  width: calc(50% - 5px);
}

.recent-developments > div:nth-child(odd) > div {
  float: left;
}

.recent-developments > div:nth-child(odd) > div:nth-child(1) > div {
  float: right;
}

.recent-developments > div:nth-child(even) > div,
.recent-developments > div:nth-child(even) > div:nth-child(3) > div {
  float: right;
}

.recent-developments > div:nth-child(even) > div:nth-child(1) > div {
  float: left;
}

@media screen and (max-width: 479px) {
  .recent-developments > div > div:nth-child(2) {
    display: none;
  }

  .recent-developments > div > div:nth-child(1),
  .recent-developments > div > div:nth-child(3) {
    width: 100%;
    float: left;
  }
}
