.about-me-icons {
  font-size: 60px;
  float: left;
  width: 70px;
}

.about-me-text {
  float: left;
  width: calc(100% - 70px);
}

@media screen and (max-width: 400px) {
  .about-me-icons,
  .about-me-text {
    float: none;
  }
}
